<!DOCTYPE html>
<html>
<head>
    <title>Customer Details with Map</title>
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<body>
    <h1>Customer: {{ customer.name }}</h1>
    <h2>Addresses:</h2>
    <ul>
        {% for address in customer.addresses.all %}
            <li>
                <strong>Street:</strong> {{ address.street }}<br>
                <strong>City:</strong> {{ address.city }}<br>
                <strong>State:</strong> {{ address.state }}<br>
                <strong>Zip Code:</strong> {{ address.zip_code }}<br>
                <strong>Neighborhood:</strong> {{ address.neighborhood }}<br>
                <strong>Latitude:</strong> {{ address.latitude }}<br>
                <strong>Longitude:</strong> {{ address.longitude }}<br>
            </li>
        {% empty %}
            <li>No addresses found for this customer.</li>
        {% endfor %}
    </ul>
    <h2>Map:</h2>
    <div id="map">
        {{ map_html|safe }}
    </div>
    <a href="{% url 'customer-list' %}">Back to Customer List</a>
</body>
</html>
